/*
Paletes:
#E54723 - Orange Red
#FFAB35 - Yellow Orange
#FFE732 - Yellow
#A9F374 - Grean Tea
#08B6D7 - Blue

Fonts: font-family: 'Baumans', cursive;
		font-family: "Oxygen", sans-serif;
*/

html {
	box-sizing: border-box;

	font: normal 100%/1.5 "Oxygen", sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}
img{
	display: block;
	width: 100%;
}
body{
	margin: 0;
	padding: 0;
/*}
.imgpho{
	width: 50%;
	clear: both;
	position: relative;
	margin: 0 auto;
	padding: 0;*/
}
.imglogo {
	width: 57%;
	padding: 0;
	margin: 0 auto;

}
.banner {
  	margin: 0 ;
  	padding: 0;
  	position: relative;
}
.phobanner{
  	margin: 0 auto;
  	padding: 0;
  	position: inherit;
  	clear: both;
  	width: 100%
}

.banner figcaption {
  bottom: -57px;
  padding: 31px;
  position: absolute;
  width: 100%;

  text-align: center;
}
h1 {
	font-family: 'Baumans', cursive;
	font-size: 16pt;
}
.bnnoodle{
	font-size: 14pt;

}nav {
  padding-top: 1rem;

}
.inside{
	margin: 0 auto;
	padding: 0;
}
.inside img{
	clear: both;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

nav ul {
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: #E54723;
  border-left: 1px solid #FFE732;
  border-top: 1px solid #FFE732;
  list-style-type: none;
  text-align: center;
}

nav li {
  float: left;
  width: 50%;

  border-bottom: 1px solid #FFE732;
  border-right: 1px solid #FFE732;
}

nav i {
  font-style: normal;
}

nav a {
  display: block;
  padding: 0.5em 0.75em;

  color: #FFE732;
  font-size: 1.125rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #FFAB35;

  color: #FFE732;
}

.aboutp {
  margin: 2rem;
  color: #08B6D7;
}

.tablesbanner {
	width: 50%;
	clear: both;
	position: relative;

}
.tablesbannerp{
	font-family: 'Baumans', cursive;
	text-align: center;
}
.ourmission{
	font-size: 38px;
	padding: -10em;
}
.quotes{
	padding: -3em;

}
.menuwrap {
	color: #FFE732;
	clear: both;
	margin-bottom: 1.5rem;
	padding: 1em 0;

	background-color: #E54723;
  	border-bottom: 1px solid #d05c2e;
  	border-top: 1px solid #d05c2e;
}
h2{
	padding-top: 0rem;
	padding-bottom: 0rem;

	text-align: center;
	font-size: 26pt;
	font-family: 'Baumans', cursive;
}
.menu figcaption{
	color: #FFAB35;

}
.mapsection{
  	border: 5px solid #FFE732;
  	border-radius: 10px;
  	margin: 0 auto;
  	margin-top: 0;
}

.mapsection h3 h3, h4{
	color: #FFE732;
	font-family: 'Baumans', cursive;
}
.mapsection h3{
	font-size: 20px;
	color: #FFE732;
}
.mapsection p{
	font-size: 14px;
}
.map {
  	margin: -12px auto;
  	margin-left: -27px;
  	padding: 1px;
  	display: block;
  	width: 60%;
  	float: left;
  	position: relative;
  	clear: both;
}

footer{
	background-color: #E54723;
	color: #FFE732;
	text-align: center;
}
footer img{
	width: 40%;
	position: center;i
	clear: both;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;

}
.ty {
	font-size: 18px;
	font-family: 'Baumans', cursive;
}
.cc{
	padding-top: 3rem; 
	margin: 0 auto;
	font-size: 12px;
}
